
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
data-layout-decorate="~{home/home}">
<body>
    <li class="active" data-layout-fragment="common-breadcrumb"><a th:href="@{/sale/}"></a>Ventas</li>
    <!-- START PAGE CONTAINER -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap" data-layout-fragment="content">
        <!-- START RESPONSIVE TABLES -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><strong>Orden de Venta</strong></h2>
                        <ul class="panel-controls">
                            <li><a type="button" th:href="@{/barrel/barrelEdit}" class="btn btn-info btn-rounded">Agregar Nuevos Barriles</a></li>
                        </ul>
                    </div>
                    <div class="panel-heading">
                       <form>
                       <div class="form-group">
                                    <!-- <input th:type="hidden" name="id" id="sale_id" th:field="${sale.id}" /> -->
                                    <div class="form-group">
                                        <label for="order_typeBeer">Tipo de Cerveza</label>
                                        <input type="text" class="form-control" id="order_typeBeer"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="customer_name_company">Cliente</label>
                                        <select id="sale_customer_name_company"
                                            class="form-control select" data-live-search="true">
                                        <option  th:each="customer: ${customers}" th:value="${customer.id}" th:text="${customer.name + ' ' + customer.lastName + ', Empresa: ' + customer.company}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="sale_remito">Remito</label>
                                        <input type="text" class="form-control" id="sale_remito"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="sale_date">Fecha y Hora</label>
                                            <input type="text" id="datetimepicker" class="form-control" name="dateString"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="sale_total">total va cero</label>
                                        <input type="text" class="form-control" id="sale_total"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="sale_description">Descripcion</label>
                                        <input type="text" class="form-control" id="sale_description"/>
                                    </div>
                    </div>
                    <div class="panel-heading">
                        <h2 class="panel-title"><strong>Barriles</strong></h2>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <table class="table table-bordered table-hover" id="tab_logic">
                                    <thead>
                                        <tr >
                                            <th class="text-center">
                                                #
                                            </th>
                                            <th class="text-center">
                                                Barril
                                            </th>
                                            <th class="text-center">
                                                Mail
                                            </th>
                                            <th class="text-center">
                                                Mobile
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id='addr0'>
                                            <td>
                                            1
                                            </td>
                                            <td>
                                            <input type="text" name='name0'  placeholder='Name' class="form-control"/>
                                            <select id="barrel_id"
                                                class="form-control select" name="barrel_id" data-live-search="true">
                                            <option  th:each="barrel: ${barrels}" th:value="${barrel.id}" th:text="${'Barril Nro:' +barrel.id+', Capacidad: ' + barrel.litersCapacity}"></option>
                                            </select>
                                            </td>
                                            <td>
                                            <input type="text" name='mail0' placeholder='Mail' class="form-control"/>
                                            </td>
                                            <td>
                                            <input type="text" name='mobile0' placeholder='Mobile' class="form-control"/>
                                            </td>
                                        </tr>
                                        <tr id='addr1'></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <a id="add_row" class="btn btn-default pull-left">Add Row</a><a id='delete_row' class="pull-right btn btn-default">Delete Row</a>
                    </div>
                    </form>  
                </div>
            </div>
        </div>
</body>
</html>
<script type="text/javascript">
         $(document).ready(function(){
      var i=1;
     $("#add_row").click(function(){
      $('#addr'+i).html("<td>"+ (i+1) +"</td><td><input name='name"+i+"' type='text' placeholder='Name' class='form-control input-md'  /></td><td><input  name='mail"+i+"' type='text' placeholder='Mail'  class='form-control input-md'></td><td><input  name='mobile"+i+"' type='text' placeholder='Mobile'  class='form-control input-md'></td>"
        );






      $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
      i++; 
  });
     $("#delete_row").click(function(){
         if(i>1){
         $("#addr"+(i-1)).html('');
         i--;
         }
     });

});
</script>
