
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
data-layout-decorate="~{home/home}">
<body>
    <li class="active" data-layout-fragment="common-breadcrumb"><a th:href="@{/sale/}"></a>Ventas</li>
    <!-- START PAGE CONTAINER -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap" data-layout-fragment="content">
        <!-- START RESPONSIVE TABLES -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><strong>Orden de Venta</strong></h2>
                        <ul class="panel-controls">
                            <li><a type="button" th:href="@{/barrel/barrelEdit}" class="btn btn-info btn-rounded">Agregar Nuevos Barriles</a></li>
                        </ul>
                    </div>
                    <div class="panel-heading">
                            <input name="id" th:type="hidden" id="sale_id" th:field="${sale.id}" />
                            <input name="id" th:type="hidden" id="sale_customer" th:field="${sale.customer}"/>
                                 <div class="form-group">
                                    <label for="customer_name_company">Cliente</label>
                                        <input type="text" class="form-control" th:value="${sale.customer.name +' '+sale.customer.lastName + ', Empresa:'+ sale.customer.company}" readonly/>
                                        
                                    </div>
                                    <div class="form-group">
                                        <label for="sale_remito">Remito</label>
                                        <input type="text" class="form-control" id="sale_remito" th:field="${sale.remito}" readonly/>
                                    </div>
                                    <div class="form-group">
                                        <label for="sale_date">Fecha y Hora</label>
                                            <input type="text" class="form-control" name="dateString" th:value="${#dates.format(sale.date, 'dd/MM/yyyy HH:mm')}" readonly/>
                                    </div>
                                    <div class="form-group">
                                        <label for="sale_description">Descripcion</label>
                                        <input type="text" class="form-control" id="sale_description" th:field="${sale.description}" readonly/>
                                    </div>
                    </div>            
                    <div class="panel-heading">
                        <h2 class="panel-title"><strong>Barriles</strong></h2>
                        <div class="row">
                            <div class="col-sm-12">
                                <legend></legend>
                            </div>
                            <!-- panel preview -->
                            <div class="col-sm-5">
                                <div class="panel panel-default">
                                    <div class="panel-body form-horizontal payment-form">
                                        <div class="form-group">
                                            <label for="barrel" class="col-sm-3 control-label">Barril</label>
                                            <div class="col-sm-9">
                                                <select name="concept" id="barrel_id" class="form-control select" data-live-search="true">
                                        <option  th:each="barrel: ${barrels}" th:value="${barrel.id}" th:text="${'Barril Nro:' +barrel.id+', Capacidad: ' + barrel.litersCapacity}"></option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="barrelLiters" class="col-sm-3 control-label">Litros</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="barrelLiters" name="barrelLiters">
                                            </div>
                                        </div> 
                                        <div class="form-group">
                                            <label for="amount" class="col-sm-3 control-label">Tipo de Cerveza</label>
                                            <div class="col-sm-9">
                                                <select id="typeBeer" name="typeBeer" class="form-control select" data-live-search="true">
                                                    <option value="IPA">IPA</option>
                                                    <option value="Blonde">Blonde</option>
                                                    <option value="Black">Black</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="beerPrice" class="col-sm-3 control-label">Precio</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="beerPrice" name="beerPrice">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="status" class="col-sm-3 control-label">Estado del Barril</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="barrelStatus" name="barrelStatus">
                                                    <option value='true' selected>Entregado</option>
                                                    <option value='false'>Devuelto</option>
                                                </select>
                                            </div>
                                        </div> 
                                        <div class="form-group">
                                            <div class="col-sm-12 text-right">
                                                <button type="button" class="btn btn-default preview-add-button">
                                                    <span class="glyphicon glyphicon-plus"></span> Add
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>            
                            </div> <!-- / panel preview -->
                            <div class="col-sm-7">
                                <h4>Resumen:</h4>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table preview-table">
                                                <thead>
                                                    <tr>
                                                        <th>Barril Nro</th>
                                                        <th>Litros</th>
                                                        <th>Tipo de cerveza</th>
                                                        <th>Precio</th>
                                                        <th>Estado Del Barril</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody> <!-- preview content goes here-->
                                            </table>
                                        </div>                            
                                    </div>
                                </div>
                                <div class="row text-right">
                                    <div class="col-xs-12">
                                        <h4>Total: <strong><span id="sale_total" class="preview-total"></span></strong></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <hr style="border:1px dashed #dddddd;">
                                        <button type="button" id="btn_submit" class="btn btn-primary btn-block">Cargar Pedido</button>
                                    </div>                
                                </div>
                            </div>
                        </div>
                    </div>
                      
                </div>
            </div>
        </div>
</body>
</html>
<script type="text/javascript">


    var barrelsData = [];
    //var total = 0;
    
    function calc_total(){

        var sum = 0;
        
        $('.input-beerPrice').each(function(){
            sum += parseFloat($(this).text()); 
        });  
        parseFloat($('.preview-total').html(sum)); 
        
    }

    $(document).on('click', '.input-remove-row', function(){ 
        var tr = $(this).closest('tr');
        tr.fadeOut(200, function(){
            tr.remove();
            calc_total()
        });
    });

    $(function(){

        $('.preview-add-button').click(function(){

            var form_data = {};
            form_data["barrel"] = parseInt($( "#barrel_id").val());
            form_data["liters"] = parseFloat($('.payment-form input[name="barrelLiters"]').val());
            form_data["typeBeer"] = $('.payment-form #typeBeer option:selected').text();
            form_data["beerPrice"] = parseFloat($('.payment-form input[name="beerPrice"]').val());
            form_data["barrelStatus"] = $('.payment-form #barrelStatus option:selected').text();
            form_data["remove-row"] = '<span class="glyphicon glyphicon-remove"></span>';
            var row = $('<tr></tr>');
            var data = {};

            $.each(form_data, function( type, value ) {
                $('<td class="input-'+type+'"></td>').html(value).appendTo(row);
                if (type!="remove-row") {

                    data['"'+type + '"']= value;            
                }
            });
            barrelsData.push(data); 
            
            $('.preview-table > tbody:last').append(row); 
            calc_total();
            post_order();
            
            //$( "#barrel_id option:selected").remove();
            
        });  
    });

        function post_order() {

           var saleId = parseInt($('#sale_id').val());
           var barrelId = parseInt($('#barrel_id').val());
           var typeBeer = $('#typeBeer').val();
           var beerPrice = parseFloat($('#beerPrice').val());
           var barrelLiters = parseFloat($('#barrelLiters').val());
           var barrelStatus =  $('#barrelStatus').val().toLowerCase() == 'true' ? true : false;

           // Validations:

           $.ajax({
                type:"POST",
                url:"/order/createOrder",
                data:{saleId:saleId,barrelId:barrelId,typeBeer:typeBeer,beerPrice:beerPrice,barrelLiters:barrelLiters,barrelStatus:barrelStatus},
                success:function (data) {
                    if(data == true){
                            window.location.reload(); 
                            $( "#barrel_id option:selected").attr("disabled", true); 
                        }
                        else{
                            console.log(data);
                        }
                }   
            });
        }
</script>