<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="home/home :: common-header"/>
<body>
	<div th:fragment="footer">
                        <!-- START PRELOADS -->
        <audio id="audio-alert" src="/audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="/audio/fail.mp3" preload="auto"></audio>
        <!-- END PRELOADS -->                      

    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="application/javascript" src="/js/plugins/jquery/jquery.min.js"></script>
        <script type="application/javascript" src="/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="application/javascript" src="/js/plugins/bootstrap/bootstrap.min.js"></script>        
        <!-- END PLUGINS -->
        
        <!-- START THIS PAGE PLUGINS-->        
        <script type='application/javascript' src='/js/plugins/icheck/icheck.min.js'></script>
        <script type="application/javascript" src="/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        
        <script type="application/javascript" src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/js/plugins/datatables/language.daTatables.js"></script>
        
        <script type="application/javascript" src="/js/plugins/tableexport/tableExport.js"></script>
		<script type="application/javascript" src="/js/plugins/tableexport/jquery.base64.js"></script>
		<script type="application/javascript" src="/js/plugins/tableexport/html2canvas.js"></script>
		<script type="application/javascript" src="/js/plugins/tableexport/jspdf/libs/sprintf.js"></script>
		<script type="application/javascript" src="/js/plugins/tableexport/jspdf/jspdf.js"></script>
		<script type="application/javascript" src="/js/plugins/tableexport/jspdf/libs/base64.js"></script>     
        <script type="application/javascript" src="/js/plugins/bootstrap/bootstrap-datepicker.js"></script>
        <script type="application/javascript" src="/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
        <script type="application/javascript" src="/js/plugins/bootstrap/bootstrap-colorpicker.js"></script>
        <script type="application/javascript" src="/js/plugins/bootstrap/bootstrap-file-input.js"></script>
        <script type="application/javascript" src="/js/plugins/bootstrap/bootstrap-select.js"></script>
        <script type="application/javascript" src="/js/plugins/tagsinput/jquery.tagsinput.min.js"></script>   
        <!-- END THIS PAGE PLUGINS-->  
        
        <!-- START TEMPLATE -->
        <script type="application/javascript" src="/js/settings.js"></script>
        
        <script type="application/javascript" src="/js/plugins.js"></script>        
        <script type="application/javascript" src="/js/actions.js"></script>  
        <script type="application/javascript" src="/js/validations.js"></script>  
        <script type="application/javascript" src="/js/plugins/jquery/jquery.datetimepicker.full.js"></script>     
       

    <script type="text/javascript">
    $(function () {
        var dateNow = new Date();
        $.datetimepicker.setLocale('es'); 
        $('#datetimepicker').datetimepicker({
            defaultDate:dateNow,
            format:'d/m/Y H:m'
        });
    });
</script>
        <!-- END TEMPLATE -->
    

    <script type="application/javascript" src="/js/gaqpush.js"></script>
    <script type="application/javascript" src="/js/jquery.czMore-1.5.3.2.js"></script>
    <script type="text/javascript" src="/js/czContainer.js"></script>  
    <!-- END SCRIPTS --> 
                <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
                    <div class="mb-container">
                        <div class="mb-middle">
                            <div class="mb-title"><span class="fa fa-sign-out"></span> <strong>Cerrar Sesion</strong></div>
                            <div class="mb-content">
                                <p>Esta seguro que desa salir?</p>
                            </div>
                            <div class="mb-footer">
                                <div class="pull-right">
                                    <a th:href="@{/logout}" class="btn btn-success btn-lg">SI</a>
                                    <button class="btn btn-default btn-lg mb-control-close">NO</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MESSAGE BOX-->
        </div> 
</body>
</html>