
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
data-layout-decorate="~{home/home}">
<body>
    <li class="active" data-layout-fragment="common-breadcrumb"><a th:href="@{/sale/}"></a>Ventas</li>
    <!-- START PAGE CONTAINER -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap" data-layout-fragment="content">
        <!-- START RESPONSIVE TABLES -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><strong>Orden de Venta</strong></h2>
                        <ul class="panel-controls">
                            <li><a type="button" th:href="@{/sale/}" class="btn btn-info btn-rounded">Ver Listado</a></li>
                        </ul>
                    </div>
                <form class="form-horizontal" th:action="@{/sale/saleEdit}" 
                                method="POST">
                        <input th:type="hidden" name="id" th:field="${sale.id}" />
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Cliente</label>
                                <div class="col-md-6 col-xs-12">
                                    <select th:field="${sale.customer}" 
                                            class="form-control select" data-live-search="true">
                                        <option th:each="customer: ${saleCustomers}" th:value="${customer.id}"  th:text="${customer.name + ' ' + customer.lastName + ', Empresa: ' + customer.company}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="text" th:type="hidden" th:unless="${sale.date}" class="form-control" th:value="${#dates.format(#dates.createNow(), 'dd/MM/yyyy HH:mm')}" name="dateString"/>
                        </div>
                        <div class="form-group" th:if="${sale.date}">
                            <label class="col-md-3 col-xs-12 control-label">Fecha y Hora</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" id="datetimepicker" class="form-control" th:value="${#dates.format(sale.date, 'dd/MM/yyyy HH:mm')}" name="dateString"></input>
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Remito</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="form-control" th:field="${sale.remito}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Descripción</label>
                            <div class="col-md-6 col-xs-12">
                                <textarea type="text" class="form-control" th:field="${sale.description}"></textarea>
                            </div>
                        </div>
                            <input type="text" th:type="hidden" class="form-control" id="totalPrice" th:field="${sale.total}"/>    
                        </div> 
                        <div class="panel-footer">    
                            <button class="btn btn-primary pull-right" type="submit">Continuar</button>
                        </div>
                </form>
            </div>
        </div>
</body>
</html>