<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{home/home}">
    <body>
        <!-- START PAGE CONTAINER -->
         <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap" data-layout-fragment="content">
                    <!-- START RESPONSIVE TABLES -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">

                                <div class="panel-heading ui-draggable-handle">
                                    <h3 class="panel-title">Clientes</h3>
                                    <ul class="panel-controls">
                                        <li>
                                            <a th:href="@{/customer/customerEdit}"
                                                class="btn btn-success"><div class="fa fa-plus"></div>
                                            </a>
                                        </li>        
                                    </ul>
                                </div>

                                <div class="panel-body panel-body-table">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-actions">
                                            <thead>
                                                <tr>
                                                    <th width="50">id</th>
                                                    <th>Nombre</th>
                                                    <th width="100">Telefono</th>
                                                    <th width="100">DNI</th>
                                                    <th width="100">Empresa</th>
                                                    <th width="100">Email</th>
                                                    <th width="100">acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>                                            
                                                <tr th:each="customer : ${customerList}">
                                                    <td class="text-center" th:text="${customer.id}">
                                                    </td>
                                                    <td><strong th:text="${customer.name + ' ' + customer.lastName}"></strong>
                                                    </td>
                                                    <td th:text="${customer.phone}"></td>
                                                    <td th:text="${customer.dni}"></td>
                                                    <td th:text="${customer.company}"></td>
                                                    <td th:text="${customer.email}"></td>
                                                    <td>
                                                        <a th:href="@{/customer/customerEdit/__${customer.id}__}" class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span>
                                                        </a>
                                                        
                                                        <button class="btn btn-danger btn-rounded btn-sm" 
                                                        th:onclick="'delete_row(\'' + ${customer.id} + '\');'"><span class="fa fa-times"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>                                
                                </div>
                            </div>                                                
                        </div>
                    </div>
                    <!-- END RESPONSIVE TABLES -->
                
                <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
                    <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-times"></span> Remove <strong>Data</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to remove this row?</p>                    
                        <p>Press Yes if you sure.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-success btn-lg mb-control-yes">Yes</button>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
                    </div>
                </div>

                <script type="text/javascript">
                    function delete_row(row) {
                        var box = $("#mb-remove-row");
                        box.addClass("open");
                        console.log(row);
                    }
                </script>
                </div> 

                <!-- END PAGE CONTENT WRAPPER -->
        <!-- END PAGE CONTAINER -->  
    </body>
</html>